body {
	background: #4C7273;
	height: 100vh;
}

.header {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	/**background: #042630;*/
    background: #041421;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header a {
	float: right;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
}

.logo {
	float: left;
	padding: none;
	margin: none;
	height: 200px;
	width: auto;
}

.rectangle {
	width: 70vw;
	height: 300px;
	flex-shrink: 0; /**idk if this is needed ngl fix later**/
	margin: 0 auto;
	border-radius: 50px;
	background: #041421;
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
	margin-top: 25px;
	position: relative;
}

.modes {
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
	margin-top: 50px;
	margin-left: 5vh;
	margin: 0 auto;
	top: 25%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}

.modes button {
	width: 120px;
	height: 50px;
    background-color: #4C7273;
    color: #c5cbcb;
    border: 2px solid white; 
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: centre;
	align-items: center;
	
}

.modes button:hover {
	background: transparent;
}

/**
#countdown {
    display: inline-flex;
    width: 200px;
    height: 70px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}**/

#countdown {
    color: white;
    font-size: 75px;
    display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
    margin-top: 100px;
	margin-left: 5vh;
	margin: 0 auto;
	top: 55%;
 	left: 50%;
  	transform: translate(-50%, -50%);
    
}

#girl {
	float: right;
	height: 300px;
	width: auto;
	margin-top: 100px;
}