body {
	background: #3E6A61;
	height: 100%;
	box-sizing: border-box;
}

/*4C7273 , 28665E , 3E6A61 */

.header {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	/**background: #042630;*/
    background: #041421;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	font-size: 20px;
	
}

.header a {
	float: right;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: medium;
}

.logo {
	float: left;
	padding: none;
	margin: none;
	height: 200px;
	width: auto;
}

.rectangle {
	width: 70vw;
	height: 300px;
	flex-shrink: 0; 
	margin: 0 auto;
	border-radius: 50px;
	background: #041421;
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
	margin-top: 50px;
	margin-bottom: 150px;
	position: relative;
}

.modes {
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
	margin-top: 50px;
	margin-left: 5vh;
	margin: 0 auto;
	width: 80%;
	top: 25%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}

.modes button {
	min-width: 120px;
	height: 50px;
    background-color: #3E6A61;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border: 2px solid white; 
    padding: 2vw 3vw;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	/**text-align: center;*/
}

.modes button:hover {
	background: transparent;
}

#countdown {
    color: white;
	font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 75px;
    display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
    margin-top: 100px;
	margin-left: 5vh;
	margin: 0 auto;
	top: 55%;
 	left: 50%;
  	transform: translate(-50%, -50%);
    
}

.actions {
    display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
    margin-top: 100px;
	margin-left: 5vh;
	margin: 0 auto;
	top: 80%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}
/*.actions */

/*icons design*/
.actions i {
	color: #c5cbcb;
	font-size: 30px;
	margin: 0 20px;
	transition: transform 0.2s;

  }

  .actions i:hover {
	transform: scale(1.1);
}

#girl {
	float: right;
	height: 300px;
	width: auto;
	margin-top: 100px;
}

.todolist h2{
	text-align: center;
	
}
.todolist p {
	text-align: center;
	margin-bottom: 25px;
}

.todolist {
    text-align: center;
    margin-top: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*font-family: 'Comic Sans MS', cursive, sans-serif; */
  }

#taskInput {
	border: 2px solid #4CAF50; 
	border-radius: 8px; 
	padding: 12px; 
	width: 250px; 
	font-size: 18px;
	outline: none;
	transition: border-color 0.3s; 
}
  
#taskInput:focus {
	border-color: #041421; 
}

.addBtn {
	background-color: #041421;
	color: white;
	border: none;
	padding: 10px 15px;
	margin-left: 5px;
	cursor: pointer;
	border-radius: 5px;
}

#taskList {
	list-style-type: none; 
	padding: 10px;
	border: 2px solid #3E6A61; 
	border-radius: 8px; 
	width: 300px; 
	margin: 20px auto; 
	display: none;
}
  
#taskList li {
	padding: 10px;
	margin: 8px 0;
	border: 2px solid #009688; /* Teal border color for each task box */
	border-radius: 8px; /* Rounded border corners for each task box */
	background-color: white;
	text-align: left;
}

.delete-btn {
    background-color: #041421; /* Set your desired background color */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
	float: right;
}

.delete-btn:hover {
    background-color: #4C7273; /* Change the background color on hover */
}
  
.edit-btn {
    background-color: #041421; /* Set your desired background color */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
	float: right;
}

.edit-btn:hover {
    background-color: #4C7273; /* Change the background color on hover */
}